# Set blank response body
ErrorDocument 300 " "
ErrorDocument 301 " "
ErrorDocument 302 " "
ErrorDocument 303 " "
ErrorDocument 305 " "
ErrorDocument 307 " "
ErrorDocument 308 " "

# 300 without response body
# https://ssrf.localdomain.pw/xml-without-body-md/300-http-.x.xml
# https://ssrf.localdomain.pw/xml-without-body-md/300-http-test/.x.xml
RewriteEngine on
RewriteCond %{REQUEST_URI} 300-([^/-]*)-(.*).x.xml$
RewriteRule 300-([^/-]*)-(.*).x.xml$ $1://169.254.169.254/$2 [L,R=300,NC]

# 301 without response body
# https://ssrf.localdomain.pw/xml-without-body-md/301-http-.x.xml
# https://ssrf.localdomain.pw/xml-without-body-md/301-http-test/.x.xml
RewriteEngine on
RewriteCond %{REQUEST_URI} 301-([^/-]*)-(.*).x.xml$
RewriteRule 301-([^/-]*)-(.*).x.xml$ $1://169.254.169.254/$2 [L,R=301,NC]

# 302 without response body
# https://ssrf.localdomain.pw/xml-without-body-md/302-http-.x.xml
# https://ssrf.localdomain.pw/xml-without-body-md/302-http-test/.x.xml
RewriteEngine on
RewriteCond %{REQUEST_URI} 302-([^/-]*)-(.*).x.xml$
RewriteRule 302-([^/-]*)-(.*).x.xml$ $1://169.254.169.254/$2 [L,R=302,NC]

# 303 without response body
# https://ssrf.localdomain.pw/xml-without-body-md/303-http-.x.xml
# https://ssrf.localdomain.pw/xml-without-body-md/303-http-test/.x.xml
RewriteEngine on
RewriteCond %{REQUEST_URI} 303-([^/-]*)-(.*).x.xml$
RewriteRule 303-([^/-]*)-(.*).x.xml$ $1://169.254.169.254/$2 [L,R=303,NC]

# 305 without response body
# https://ssrf.localdomain.pw/xml-without-body-md/305-http-.x.xml
# https://ssrf.localdomain.pw/xml-without-body-md/305-http-test/.x.xml
RewriteEngine on
RewriteCond %{REQUEST_URI} 305-([^/-]*)-(.*).x.xml$
RewriteRule 305-([^/-]*)-(.*).x.xml$ $1://169.254.169.254/$2 [L,R=305,NC]

# 307 without response body
# https://ssrf.localdomain.pw/xml-without-body-md/307-http-.x.xml
# https://ssrf.localdomain.pw/xml-without-body-md/307-http-test/.x.xml
RewriteEngine on
RewriteCond %{REQUEST_URI} 307-([^/-]*)-(.*).x.xml$
RewriteRule 307-([^/-]*)-(.*).x.xml$ $1://169.254.169.254/$2 [L,R=307,NC]

# 308 without response body
# https://ssrf.localdomain.pw/xml-without-body-md/308-http-.x.xml
# https://ssrf.localdomain.pw/xml-without-body-md/308-http-test/.x.xml
RewriteEngine on
RewriteCond %{REQUEST_URI} 308-([^/-]*)-(.*).x.xml$
RewriteRule 308-([^/-]*)-(.*).x.xml$ $1://169.254.169.254/$2 [L,R=308,NC]

# Always set the Content-Type header text/html
Header always set Content-Type text/html
# Always set Cache-Control to max-age=0, must-revalidate, no-cache, no-store, private
Header always set Cache-Control "max-age=0, must-revalidate, no-cache, no-store, private"
# Always set Pragma to no-cache
Header always set Pragma no-cache
